header {
  height: 200px;
  background-image: none;
  background-color: var(--primary-color);
}

.projects-title {
  height: 100px;
  /* background-color: var(--secondary-color); */
  /* border: var(--primary-color) solid 2px; */
  margin: 15px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects-title h1 {
  color: var(--primary-color);
  font-size: 45px;
  font-family: brownsugar, serif;
}

.new-work1,
.new-work2,
.new-work3,
.new-work4 {
  color: var(--secondary-color);
  margin: 15px 30px;
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-work1 {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
}

.new-work2 {
  background-color: var(--tertiary-color);
}

.new-work3 {
  background-color: var(--primary-color);
}

.new-work4 {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
}

.work-photo,
.work-text {
  margin: 10px 25px;
}

.work1,
.work2,
.work3 {
  height: 400px;
  border: var(--secondary-color) solid 2px;
  background-size: cover;
  background-position: top left;
}

.work1 {
  background-image: url(../images/weather_image.svg);
}

.work2 {
  background-image: url(../images/pregame_image.svg);
}

.work3 {
  background-image: url(../images/tech_blog.svg);
}

.secondary-button {
  background-color: var(--tertiary-color);
}
