* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f9f2ec;
    --secondary-color: #ff9494;
    --tertiary-color: #57302c;
    --quaternary-color: #d2c1bc;

}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

header {
    background-color: var(--secondary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 10px;
    font-size: 25px;
}

header nav ul li:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
}

footer {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer h2 {
    font-size: 35px;
    margin: 0;
    border-right: 5px solid var(--primary-color);
    padding: 0 15px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul li {
    padding: 15px 30px;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: var(--quaternary-color);
}

section {
    padding: 60px;
}

.hero {
    background-image: url(../images/IMG_8051.jpg);
    background-size: cover;
    background-position: 80%;
    padding: 250px;
}

.about-me {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.about-me h2 {
    font-size: 35px;
    margin: 0;
    border-right: 5px solid var(--tertiary-color);
    padding: 0 15px;
}

.my-work {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.my-work h2 {
    font-size: 35px;
    margin: 0;
    border-right: 5px solid var(--tertiary-color);
    padding: 0 15px;
}
