* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e00244;
  --secondary-color: #f1e8e8;
  --tertiary-color: #292929;
  --quaternary-color: #f8b0bf;
}

/* body styles */
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* HEADER SECTION */
header {
  background-image: url(../images/header.svg);
  background-size: cover;
  background-position: center;
  margin: 30px 30px 15px 30px;
  flex: 200%;
  height: 450px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.work-nav {
  position: absolute;
  left: 40px;
  top: 40px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 25px;
}

.work-nav:hover {
  color: var(--secondary-color);
}

.contact-nav {
  position: absolute;
  right: 40px;
  top: 40px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 25px;
}

.contact-nav:hover {
  color: var(--secondary-color);
}

/* ABOUT ME SECTION */
.about-me {
  margin: 15px 30px;
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.personal-info {
  background-image: url(../images/pink_background2.svg);
  background-size: cover;
  background-position: bottom right;
  flex: 0 0 49%;
  height: 600px;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.personal-info h1 {
  font-size: 50px;
}

.personal-info p {
  font-size: 20px;
}

.photo {
  background-image: url(../images/IMG_0133.JPG);
  background-position: center left;
  background-size: cover;
  flex: 0 0 49%;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* WORK SECTION */
.work-section {
  border: solid var(--tertiary-color) 5px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  margin: 15px 30px;
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info {
  text-align: center;
  padding-bottom: 30px;
}

.info h1 {
  font-size: 50px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work-example {
  background-color: var(--secondary-color);
  flex: 0 0 40%;
  height: 300px;
  border: var(--secondary-color) solid 2px;
  margin-top: 40px;
}

.title {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  height: 75px;
  padding-top: 20px;
}

.title p {
  text-align: center;
  font-size: 25px;
}

.work1 {
  height: 300px;
  border: var(--secondary-color) solid 2px;
  background-image: url(../images/weather_image.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.work2 {
  height: 300px;
  border: var(--secondary-color) solid 2px;
  background-image: url(../images/pregame_image.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.work3 {
  height: 300px;
  border: var(--secondary-color) solid 2px;
  background-image: url(../images/tech_blog.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.work4 {
  height: 300px;
  border: var(--secondary-color) solid 2px;
  background-image: url(../images/profile-generator.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.work1 p,
.work2 p,
.work3 p,
.work4 p {
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 20px;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  font-size: 20px;
}

.click {
  margin-top: 20px;
  text-align: center;
}

.click a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button {
  margin: 10px;
  background-color: var(--primary-color);
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--quaternary-color);
}

/* CONTACT ME SECTION */
.contact {
  margin: 15px 30px;
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact h1 {
  font-size: 50px;
  text-align: left;
}

.links {
  background-image: url(../images/red_background.svg);
  background-size: cover;
  background-position: left top;
  flex: 0 0 49%;
  height: 600px;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--secondary-color);
}

.email {
  background-image: url(../images/pink_background1.svg);
  background-size: cover;
  background-position: left bottom;
  flex: 0 0 49%;
  height: 600px;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  color: var(--secondary-color);
  text-decoration: none;
  line-height: 2;
  font-size: 25px;
}

.links a:hover {
  color: var(--tertiary-color);
}

.links li:hover {
  color: var(--tertiary-color);
}

.email p {
  font-size: 20px;
}

footer {
  color: var(--secondary-color);
  background-image: url(../images/footer.svg);
  background-size: cover;
  background-position: right bottom;
  margin: 15px 30px 30px 30px;
  flex: 100%;
  padding: 0 20px;
  height: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* MEDIA QUERIES */

@media screen and (max-width: 757px) {
  .personal-info {
    flex-direction: row;
  }

  .personal-info p {
    font-size: 16px;
  }

  .link-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 688px) {
  .about-me {
    flex-direction: column;
  }

  .personal-info p {
    margin-top: 15px;
    font-size: 20px;
  }

  .photo {
    margin-top: 25px;
    padding: 250px 100px;
  }

  .work {
    flex-direction: column;
  }

  .work-example {
    flex: 85%;
    margin: 40px;
  }

  .contact {
    flex-direction: column;
  }

  .link-list {
    flex-direction: row;
  }

  .email {
    margin-top: 25px;
  }

  .email p {
    margin-top: 15px;
  }
}
