* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f9f2ec;
    --secondary-color: #ff9494;
    --tertiary-color: #57302c;
    --quaternary-color: #d2c1bc;

}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

header {
    background-color: var(--secondary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 10px;
    font-size: 25px;
}

header nav ul li:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
}

footer {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

footer h2 {
    font-size: 35px;
    margin: 0;
    border-right: 5px solid var(--primary-color);
    padding: 0 15px;
    text-align: right;
    flex: 0 0 20%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 80%;
    padding: 0 25px;
}

footer ul li {
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: underline;
}

footer a {
    text-decoration: underline;
    color: var(--quaternary-color);
}

section {
    padding: 60px;
}

.hero {
    background-image: url(../images/IMG_8051.jpg);
    background-size: cover;
    background-position: 80%;
    padding: 250px;
}

.about-me {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;}

.about-me h2 {
    font-size: 35px;
    margin: 0;
    border-right: 5px solid var(--tertiary-color);
    padding: 0 15px;
    text-align: right;
    flex: 0 0 20%;
}

.about-me p {
    flex: 0 0 80%;
    padding: 0 25px;
}

.my-work {
   flex-wrap: wrap;
   justify-content: space-around;
   display: flex;
   border: 5px solid yellow;
}

.my-work h2 {
    font-size: 35px;
    margin: 0;
    border-right: 5px solid var(--tertiary-color);
    padding: 0 15px;
    text-align: right;
    flex: 0 0 20%;
    border: 5px solid #ff9494;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 80%;
    border: 5px solid #57302c;
}

.run-buddy {
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    padding: 20px 100px;
    flex: 1 100%;
    margin: 10px;
    height: 300px;
    border: 3px solid var(--tertiary-color);
}

.run-buddy div {
    background-color: var(--secondary-color);
}

.placeholder1 {
    border: 3px solid var(--tertiary-color);
    flex: auto;
    margin: 10px 10px;
    height: 200px;
    background-image: url(../images/IMG_8078.jpg);
    background-size: cover;
    padding: 20px 100px;
}

.placeholder1 div {
    background-color: var(--secondary-color);
}

.placeholder2 {
    border: 3px solid var(--tertiary-color);
    flex: auto;
    margin: 10px 10px;
    height: 200px;
    background-image: url(../images/IMG_8252.jpg);
    background-size: cover;
    padding: 20px 100px;
}

.placeholder2 div {
    background-color: var(--secondary-color);
}

.placeholder3 {
    border: 3px solid var(--tertiary-color);
    flex: auto;
    margin: 10px 10px;
    height: 200px;
    background-image: url(../images/IMG_8191.jpg);
    background-size: cover;
    padding: 20px 100px;
}

.placeholder3 div {
    background-color: var(--secondary-color);
}

.placeholder4 {
    border: 3px solid var(--tertiary-color);
    flex: auto;
    margin: 10px 10px;
    height: 200px;
    background-image: url(../images/IMG_8117.jpg);
    background-size: cover;
    padding: 20px 100px;
}

.placeholder4 div {
    background-color: var(--secondary-color);
}



/* MEDIA QUERIES */
@media screen and (max-width:980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
    .about-me h2 {
        border-right: none;
        border-bottom: 5px solid var(--tertiary-color);
    }

}